<div class='contactform'>
    <div class='contactform-form'>
        <div class='contactform-name'>
            <span class='contactform-name-label'>{name}</span>
            <input class='contactform-name-input' type='text'>
        </div>
        <div class='contactform-email'>
            <span class='contactform-email-label'>{email}</span>
            <input class='contactform-email-input' type='email'>
        </div>
        <div class='contactform-message'>
            <span class='contactform-message-label'>{message}</span>
            <textarea class='contactform-message-input'></textarea>
        </div>
        <div class='contactform-submit'>
            <button class='contactform-submit-button'><span>{submit}</span></button>
            <div class='contactform-submit-notif'></div>
        </div>
    </div>
</div>
