<div class='ContactForm'>
    <div class='ContactForm-name'>
        <span class='ContactForm-name-label'>{name}</span>
        <input class='ContactForm-name-input' type='text'>
    </div>
    <div class='ContactForm-email'>
        <span class='ContactForm-email-label'>{email}</span>
        <input class='ContactForm-email-input' type='email'>
    </div>
    <div class='ContactForm-message'>
        <span class='ContactForm-message-label'>{message}</span>
        <textarea class='ContactForm-message-input'></textarea>
    </div>
    <div class='ContactForm-notif'></div>
    <div class='ContactForm-submit'>
        <button class='ContactForm-submit-button' type='button'>
            <span>{submit}</span>
        </button>
    </div>
</div>
